@media all and (min-width: 1601px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') 0 0;
	}
}

@media all and (min-width: 1401px) and (max-width: 1600px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') -313px 0;
	}
}

@media all and (min-width: 1201px) and (max-width: 1400px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') 0 -313px;
	}
}

@media all and (min-width: 1001px) and (max-width: 1200px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') -313px -313px;
	}
}

@media all and (min-width: 801px) and (max-width: 1000px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') 0 -313px;
	}
}

@media all and (min-width: 601px) and (max-width: 800px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') -313px 0;
	}
}

@media all and (max-width: 600px){
	.homer {
		width: 313px;
		height: 313px;
		background: url('homer.jpg') 0 0;
	}
}
